body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; /* Darker background */
  color: #fff; /* Light text */
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #333; /* Darker background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Heavier shadow */
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff; /* Light text */
}

label {
  display: block;
  margin-bottom: 10px;
  color: #ccc; /* Lighter text */
}

input[type="text"] {
  width: calc(100% - 24px);
  padding: 12px;
  border: 1px solid #555; /* Darker border */
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #444; /* Darker input background */
  color: #fff; /* Light text */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 14px 24px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p#result {
  display: none;
  margin-top: 20px;
  font-size: 18px;
  padding: 10px;
  background-color: #555; /* Darker background */
  border-radius: 4px;
}

#book-link {
  margin-top: 20px;
}

#book-link a {
  display: inline-block;
  background-color: #4CAF50; /* Green accent color */
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

#book-link a:hover {
  background-color: #45a049; /* Darker green on hover */
}

label[for="title"],
label[for="authors"] {
  display: block;
  margin-bottom: 5px;
}

input[type="text"][id="title"],
input[type="text"][id="authors"] {
  width: calc(100% - 24px);
  padding: 12px;
  border: 1px solid #555;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #444;
  color: #fff;
}